PostMatic.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -112
      ],
      "id": "bcb52360-3745-47e1-a0ac-31459da0be98",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://app.scrapingbee.com/api/v1/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "73TJB5K8AVYEGKC818EVXWX6D7BFCLLPA3XE4Z5YH3WT09ZYU7270XFTSUG3BRLP44DMTLK6W3E1X4KU"
            },
            {
              "name": "url",
              "value": "https://web.ridingmoto.com/blog/"
            },
            {
              "name": "render_js",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -112
      ],
      "id": "0e572ec9-3052-4d05-bc54-90d45ac070a3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "headings",
              "cssSelector": "h2.entry-title a",
              "returnArray": true
            },
            {
              "key": "article_url",
              "cssSelector": "h2.entry-title a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "image_url",
              "cssSelector": "figure.rishi-featured-image a img",
              "returnValue": "attribute",
              "attribute": "srcset",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        400,
        -112
      ],
      "id": "c1e50b5f-4ae5-42fc-87b3-5a86b3c15693",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert social media manager for a motorcycle blog. Your tone is exciting and engaging.\n\nWrite a short, 2-3 sentence social media post based on the title below. At the end of the post, add the original article link and 3 relevant hashtags.\n\nTitle: \"{{ $json.heading }}\"\nLink: {{ $json.articleUrl }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        928,
        -112
      ],
      "id": "d277280d-49f6-4643-a9f0-8bc94960dbc0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        928,
        112
      ],
      "id": "ca52c921-a813-49fb-834a-75bd53955882",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NP4oJvpSr3ERgfK1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Purane node (HTML Extract) se saare arrays lein\nconst headings = items[0].json.headings;\nconst articleUrls = items[0].json.article_url;\nconst imageUrlSrcsets = items[0].json.image_url; // Yeh URLs ki list hai\n\n// Ek nayi, khaali list banayein\nconst combinedData = [];\n\n// Har heading ke liye ek loop chalayein\nfor (let i = 0; i < headings.length; i++) {\n  let finalImageUrl = '';\n  const srcset = imageUrlSrcsets[i];\n\n  // Agar srcset mein data hai, to usmein se pehla URL nikalein\n  if (srcset && typeof srcset === 'string') {\n    // List ko comma (,) se split karein, pehla hissa lein, aur usmein se URL nikalein\n    finalImageUrl = srcset.split(',')[0].trim().split(' ')[0];\n  }\n\n  combinedData.push({\n    json: {\n      heading: headings[i],\n      articleUrl: articleUrls[i],\n      image_url: finalImageUrl // Ab yeh ek saaf-suthra, single URL hai\n    }\n  });\n}\n\n// Nayi, sahi structure wali list ko aage bhejein\nreturn combinedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -112
      ],
      "id": "decfcad0-dd3a-4b13-a594-639f96ae237d",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "={{ $('Code1').item.json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        -512
      ],
      "id": "4c126914-b844-4d00-9ab8-256a6c0ec913",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "5834994187",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "additionalFields": {
          "caption": "={{ $('AI Agent').item.json.output }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1936,
        -656
      ],
      "id": "457f4892-7496-4b4f-ad6a-1fc2c6ee0daf",
      "name": "Send a photo message",
      "webhookId": "8cae5b75-7f0b-4725-bb46-5611014fed68",
      "credentials": {
        "telegramApi": {
          "id": "WdDA05DYILGsAJYX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/17841475957798572/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $('Code1').item.json.image_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        48
      ],
      "id": "57ae2963-7d33-4ff3-a26d-51dfd6be2c62",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "kEMGHRFuQQHha46p",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/17841475957798572/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('HTTP Request2').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        48
      ],
      "id": "67d3da99-8c6e-4a6f-a864-3bc1a449b257",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "kEMGHRFuQQHha46p",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pinterest.com/v5/pins",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cb155f8eec7c91086cbd088fe1666e60f9c63601"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "={{ $json.pinterestBody }}",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        496
      ],
      "id": "b1adff79-dbd8-43e0-8d77-9188681a5ea9",
      "name": "HTTP Request4",
      "credentials": {
        "oAuth2Api": {
          "id": "ZGhiGFbH8k5BZfNq",
          "name": "Pinterest"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72acd887-7697-4694-a1fb-bd659f8e9ff0",
              "name": "pinterestBody",
              "value": "={\n  \"board_id\": \"1082693566734218408\",\n  \"title\": $('Code1').item.json.heading,\n  \"description\": $('AI Agent').item.json.output,\n  \"link\": $('Code1').item.json.articleUrl,\n  \"media_source\": {\n    \"source_type\": \"image_url\",\n    \"url\": $('Code1').item.json.imageUrl\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        496
      ],
      "id": "a33350ea-189f-4bb0-a439-4bd39aeefeb5",
      "name": "pinterestBody"
    },
    {
      "parameters": {
        "content": "Pinterest Node Throwing Errors",
        "height": 288,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        384
      ],
      "typeVersion": 1,
      "id": "edc2f6ef-e5d3-4a03-9e82-42e34d39d8b2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "person": "MF7An5t755",
        "text": "={{ $json.output }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=data",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1936,
        -432
      ],
      "id": "c4523caf-aae5-497b-a001-6e08d06466d0",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "8nRJ9BP3sRkPKMw3",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "714812575052734",
        "additionalFields": {
          "mediaFileName": ""
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1952,
        -208
      ],
      "id": "44e118f9-cd53-480b-a302-2ed89793506f",
      "name": "Upload media",
      "webhookId": "f3ca65d3-8b34-4c23-a4eb-7a04a09aceb9",
      "credentials": {
        "whatsAppApi": {
          "id": "19Zgjhj9JFv2g0VQ",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "pinterestBody",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pinterestBody": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f102f294-2316-48fe-8bbe-179b73e95286",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83e98769a3880874b975d36e21eaed77f858440b329ecc9e79a967b060ef9baa"
  },
  "id": "nxVgGykkDkfZm97c",
  "tags": []
}