PostMatic.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -32
      ],
      "id": "bcb52360-3745-47e1-a0ac-31459da0be98",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://app.scrapingbee.com/api/v1/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "73TJB5K8AVYEGKC818EVXWX6D7BFCLLPA3XE4Z5YH3WT09ZYU7270XFTSUG3BRLP44DMTLK6W3E1X4KU"
            },
            {
              "name": "url",
              "value": "https://web.ridingmoto.com/blog/"
            },
            {
              "name": "render_js",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9"
            },
            {
              "name": "Accept-Language\t",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        -32
      ],
      "id": "0e572ec9-3052-4d05-bc54-90d45ac070a3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "headings",
              "cssSelector": "h2.entry-title a"
            },
            {
              "key": "article_url",
              "cssSelector": "h2.entry-title a",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "image_url",
              "cssSelector": "figure.rishi-featured-image a img",
              "returnValue": "attribute",
              "attribute": "src"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        176,
        -32
      ],
      "id": "c1e50b5f-4ae5-42fc-87b3-5a86b3c15693",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert social media manager for a motorcycle blog. Your tone is exciting and engaging.\n\nWrite a short, 2-3 sentence social media post based on the title below. At the end of the post, add the original article link and 3 relevant hashtags.\n\nTitle: \"{{ $json.headings }}\"\nLink: {{ $json.article_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        400,
        -32
      ],
      "id": "d277280d-49f6-4643-a9f0-8bc94960dbc0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        192
      ],
      "id": "ca52c921-a813-49fb-834a-75bd53955882",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NP4oJvpSr3ERgfK1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('HTML').item.json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -368
      ],
      "id": "4c126914-b844-4d00-9ab8-256a6c0ec913",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "5834994187",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "additionalFields": {
          "caption": "={{ $('AI Agent').item.json.output }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        -640
      ],
      "id": "457f4892-7496-4b4f-ad6a-1fc2c6ee0daf",
      "name": "Send a photo message",
      "webhookId": "8cae5b75-7f0b-4725-bb46-5611014fed68",
      "credentials": {
        "telegramApi": {
          "id": "WdDA05DYILGsAJYX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/17841475957798572/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $('HTML').item.json.image_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        192
      ],
      "id": "57ae2963-7d33-4ff3-a26d-51dfd6be2c62",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "kEMGHRFuQQHha46p",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/17841475957798572/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('HTTP Request2').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        192
      ],
      "id": "67d3da99-8c6e-4a6f-a864-3bc1a449b257",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "kEMGHRFuQQHha46p",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "person": "MF7An5t755",
        "text": "={{ $json.output }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=data",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1024,
        -416
      ],
      "id": "c4523caf-aae5-497b-a001-6e08d06466d0",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "8nRJ9BP3sRkPKMw3",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "714812575052734",
        "additionalFields": {
          "mediaFileName": ""
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1024,
        -224
      ],
      "id": "c7ae3c51-3571-43b7-95c1-f0a3d9b54287",
      "name": "Upload media",
      "webhookId": "44b98862-fe9f-460b-a5ea-06519e63caf1",
      "credentials": {
        "whatsAppApi": {
          "id": "19Zgjhj9JFv2g0VQ",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "714812575052734",
        "recipientPhoneNumber": "+917029076137",
        "template": "new_blog_post|en",
        "components": {
          "component": [
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "={{ $('HTML').item.json.image_url }}"
                  }
                ]
              }
            },
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('HTML').item.json.headings }}"
                  },
                  {
                    "text": "={{ $('HTML').item.json.article_url }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1248,
        -224
      ],
      "id": "f884d9ea-f3a6-4979-83cb-771846864f9e",
      "name": "Send template",
      "webhookId": "30954116-7bfa-492c-a827-f3a701895b82",
      "credentials": {
        "whatsAppApi": {
          "id": "19Zgjhj9JFv2g0VQ",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "748968854966906",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $('HTML').item.json.image_url }}"
              },
              {
                "name": "message",
                "value": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        896,
        -32
      ],
      "id": "57cc26a1-b377-48c2-8542-fc986036067f",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "P3WC2AWKq62ZK95C",
          "name": "Facebook Graph account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        []
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Send template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "356d98dd-8f1b-4a49-b362-a0e2accd0510",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83e98769a3880874b975d36e21eaed77f858440b329ecc9e79a967b060ef9baa"
  },
  "id": "nxVgGykkDkfZm97c",
  "tags": []
}